<form {{action "createGame" on="submit"}}>
  <div class="row">
    <div class="small-8 medium-10 columns">
      {{input value=title placeholder='add new video game'}}
    </div>
    <div class="small-4 medium-2 columns">
      <button type="submit" class="expanded button">Create</button>
    </div>
  </div>
</form>
